@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Kumbh+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap');

body {
  width: 375px;
  height: 667px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}

.navbar-toggler {
  border: none !important;
  height: 20px !important;
}

.nav-icon {
  border: none !important;
}

.home-button {
  position: relative !important;
  top: -2px;
}

.product-image {
  width: 100%;
  height: 220px;
}

.image-carousel-button {
  border-radius: 50% !important;
  background-color: white !important;
  padding: 7px;
}

ul {
  list-style-type: none;
}

.text-orange {
  color: hsl(26, 100%, 55%);
}

.bg-orange {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
}
.text-grey {
  color: hsl(219, 9%, 45%);
}

.brand {
  font-size: 14px;
  font-weight: 700;
}

.product {
  font-size: 26px;
  font-weight: 700;
}

.current-price {
  font-size: 26px;
  font-weight: 700;
}
.old-price {
  color: hsl(220, 14%, 75%);
}

.item-quantity-div {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.quantity-button {
  border: none;
  
}
@media only screen and (min-width: 768px) {
  body {
    width: 1440px;
  }
}
